{% extends 'main/main.html' %}
{% load static %}

{% block nav %}
<nav>
    <div>
        <a href="">
            <img src="" alt="icon_main"/>
        </a>
        <a href="">~Choco~</a>
    </div>
    <div>
        <a href="">Главная</a>
        <a href="">Наши контакты</a>
        <a href="">Наша продукция</a>
    </div>
    <div>
        {% if user_active == 'Сладкоежка' %}
        <a href="{% url 'login' %}">Войти</a>
        <span>|</span>
        <a href="{% url 'registration' %}">Зарегистрироваться</a>
        {% else %}
        <a href="{% url 'main' %}">Выйти</a>
        {% endif %}
        <img src="" alt="icon_basket"/>
    </div>
</nav>
{% endblock nav %}

{% block footer %}
<footer>
    <div>
        <div>
            <a href="">~Choco~</a>
        </div>
        <div>
            <a href="">О нас</a>
            <a href="">Каталог</a>
            <a href="">Отзывы</a>
            <a href="">Контакты</a>
        </div>
        <div>
            <p>+7(900)000-00-00</p>
        </div>
    </div>
    <p>Все права защищены/2024</p>
</footer>
{% endblock footer %}