{% extends 'main/main.html' %}
{% load static %}

{% block nav %}
<nav>
    <div>
        <a href="">
            <img src="" alt="icon_main"/>
        </a>
        <a href="">~Choco~</a>
    </div>
    <div>
        <a href="">Главная</a>
        <a href="">Наши контакты</a>
        <a href="">Наша продукция</a>
    </div>
    <div>
        <a href="">Войти</a>
        <span>|</span>
        <a href="">Зарегистрироваться</a>
        <img src="" alt="icon_basket"/>
    </div>
</nav>
{% endblock nav %}