<div class="category_all">
  <div class="display">
    {% for i in products %}
    <div class="card_chocolate">
      <img src="{{ i.image.url }}" alt="chocolate" style="height: 100px" />
      <p>{{ i.product_name }}</p>
      <a href="{% url 'info_product' i.id %}">
        <button>Подробнее</button>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

<div class="category_festive">
  <div class="display">
    {% for i in products %} {% if i.category == 'Праздничные' %}
    <div class="card_chocolate">
      <img src="{{ i.image.url }}" alt="chocolate" style="height: 100px" />
      <p>{{ i.product_name }}</p>
      <a href="{% url 'info_product' i.id %}">
        <button>Подробнее</button>
      </a>
    </div>
    {% endif %} {% endfor %}
  </div>
</div>

<div class="category_standard">
  <div class="display">
    {% for i in products %} {% if i.category == 'Стандартные' %}
    <div class="card_chocolate">
      <img src="{{ i.image.url }}" alt="chocolate" style="height: 100px" />
      <p>{{ i.product_name }}</p>
      <a href="{% url 'info_product' i.id %}">
        <button>Подробнее</button>
      </a>
    </div>
    {% endif %} {% endfor %}
  </div>
</div>

<div class="category_animals">
  <div class="display">
    {% for i in products %} {% if i.category == 'Животные' %}
    <div class="card_chocolate">
      <img src="{{ i.image.url }}" alt="chocolate" style="height: 100px" />
      <p>{{ i.product_name }}</p>
      <a href="{% url 'info_product' i.id %}">
        <button>Подробнее</button>
      </a>
    </div>
    {% endif %} {% endfor %}
  </div>
</div>

<div class="category_items">
  <div class="display">
    {% for i in products %} {% if i.category == 'Предметы' %}
    <div class="card_chocolate">
      <img src="{{ i.image.url }}" alt="chocolate" style="height: 100px" />
      <p>{{ i.product_name }}</p>
      <a href="{% url 'info_product' i.id %}">
        <button>Подробнее</button>
      </a>
    </div>
    {% endif %} {% endfor %}
  </div>
</div>
