<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Информация о шоколаде</title>
  </head>
  <body>
    {% for i in products %}
    <form method="post" id="form_add">
      {% csrf_token %}
      <img src="{{ i.image.url }}" alt="chocolate" style="height: 100px" />
      <input
        class="user_active"
        value="{{ user_active }}"
        style="width: 0; height: 0; opacity: 0"
        disabled
      />
      <input
        class="id_product"
        value="{{ i.id }}"
        style="width: 0; height: 0; opacity: 0"
        disabled
      />
      <input
        class="start_url"
        value="{{ start_url }}"
        style="width: 0; height: 0; opacity: 0"
        disabled
      />
      <br />
      <span>{{ i.product_name }}</span>
      <span>×</span>
      <input
        name="count_product"
        type="number"
        value="1"
        style="width: 30px"
        max="20"
        min="1"
      />
      шт.
      <p>{{ i.description }}</p>
      <p>{{ i.grams }} г./{{ i.price }} руб.</p>
      {% endfor %} {% if user_active == None %}
      <a href="{% url 'main' %}">
        <input type="button" value="Вернуться" />
      </a>
      <p>
        Уважаемый пользователь! Пожалуйста, зарегистрируйтесь, чтобы можно было
        пользоваться сайтом
      </p>
      {% else %}
      <button type="submit" id="but_basket">В корзину</button>
      <button type="submit" id="but_favourites">Добавить в избранное</button>
    </form>
    <a href="{% url 'main_user' user_active %}">
      <input type="button" value="Вернуться" />
    </a>
    <h2>Оставить отзыв</h2>
    {% include 'users/send_feedback.html' %} {% endif %}
    <h2>Отзывы:</h2>
    {% if feedbacks|length == 0 %}
    <p>Здесь пока ничего нет</p>
    {% else %} {% for i in feedbacks %}
    <p>Оценка: {{ i.score }}</p>
    {% if i.anonim == 1 %}
    <p>Пользователь скрыл свои данные</p>
    {% else %}
    <p>{{ i.name }}</p>
    {% endif %}
    <p>{{ i.message }}</p>
    {% endfor %} {% endif %} {% include 'main/footer.html' %}
    <script src="{% static 'js/add.js' %}"></script>
  </body>
</html>
