<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>ЧоКо - Шоколад ручной работы</title>
    <link href="../../../media/icons/icon_main.png" type="png" rel="Website Icon" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/nav.css' %}" />
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'css/all.css' %}" />
    <link rel="stylesheet" href="{% static 'css/buy.css' %}" />
    <link rel="stylesheet" href="{% static 'css/categories.css' %}" />
</head>

<body>
    <div class="content">
        <div class="div_background">
            <svg viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet" style="z-index: -3">
                <path d="M0, 100 C150, 300 350, 0 500, 100 L500, 00 L0, 0 Z"
                    style="stroke: none; fill: rgba(156, 90, 54, 0.2)"></path>
            </svg>
        </div>
        {% include 'main/nav.html' %}
        {% include 'users/buy.html' %}
        <header style="margin-top: 100px;">
            <h2 class="hello_user">
                Добро пожаловать{% block user_active %}{% endblock user_active %}!
            </h2>
            <div class="icon_slogan_img">
                <div class="div_main_left">
                    <div class="main_icon">
                        <img class="icon_main" src="../../../media/icons/icon_main.png" alt="icon_main" />
                        <h1>~ЧоКо~</h1>
                    </div>
                    <p>шоколад ручной работы</p>
                    <p class="slogan">Мы сделаем Вашу жизнь ярче и слаще!</p>
                    <div>
                        <a href="#all_products" style="color: rgba(235, 222, 215, 0)">
                            <button class="but_choco">Выбрать шоколад</button>
                        </a>
                        <a href="{% url 'create_chocolate' %}">
                            <button class="but_create_choco">Создать свой</button>
                        </a>
                    </div>
                </div>
                <div class="div_images_taste">
                    <div>
                        <img src="../../../media/img/heart_raspberries.png" alt="heart_raspberries" style="
                  height: 400px;
                  width: 400px;
                  filter: drop-shadow(1px 10px 10px rgba(0, 0, 0, 0.5));
                  z-index: -1;
                " id="heart_raspberries" />
                        <div class="div_taste">
                            <p>Шоколад с <span class="taste">малиной</span></p>
                            <input class="arrows but_left" type="button" value="&#10229;" />
                            <input class="arrows but_right" type="button" value="&#10230;" />
                        </div>
                    </div>
                    <div class="images_none">
                        <img src="../../../media/img/heart_nuts.webp" alt="heart_nuts" style="
                  height: 300px;
                  filter: drop-shadow(1px 10px 10px rgba(0, 0, 0, 0.5));
                " id="heart_nuts" />
                        <br />
                        <img src="../../../media/img/heart_pineapple.webp" alt="heart_pineapple" style="
                  height: 300px;
                  filter: drop-shadow(1px 10px 10px rgba(0, 0, 0, 0.5));
                " id="heart_pineapple" />
                    </div>
                    <div class="images_none_2">
                        <img src="../../../media/img/heart_nuts.webp" alt="heart_nuts" style="height: 200px"
                            id="heart_nuts" />
                        <br />
                        <img src="../../../media/img/heart_pineapple.webp" alt="heart_pineapple" style="height: 200px"
                            id="heart_pineapple" />
                    </div>
                </div>
            </div>
        </header>
        <section>
            <h2>Почему у нас вкусно?</h2>
            <div class="div_page_2">
                <div class="advantages advantages_1">
                    <div class="icons_page_2">
                        <img src="../../../media/icons/icon_raspberry.png" alt="icon" style="height: 64px" />
                        <span>Качественные продукты</span>
                    </div>
                    <div class="icons_page_2">
                        <img src="../../../media/icons/icon_recipe.png" alt="icon" style="height: 64px" />
                        <span>Уникальные рецепты</span>
                    </div>
                    <div class="icons_page_2">
                        <img src="../../../media/icons/icon_gift.png" alt="icon" style="height: 64px" />
                        <span>Красивая подарочная упаковка</span>
                    </div>
                </div>
                <img src="../../../media/img/chocolate_with_strawberries.jpg" alt="img"
                    class="img_chocolate_with_strawberries" />
                <div class="advantages advantages_2">
                    <div class="icons_page_2">
                        <span>Отличное оборудование</span>
                        <img src="../../../media/icons/icon_equipment.png" alt="icon" style="height: 64px" />
                    </div>
                    <div class="icons_page_2">
                        <span>Доступные цены</span>
                        <img src="../../../media/icons/icon_money.png" alt="icon" style="height: 64px" />
                    </div>
                    <div class="icons_page_2">
                        <span>Скидка на День рождение</span>
                        <img src="../../../media/icons/icon_discount.png" alt="icon" style="height: 64px" />
                    </div>
                </div>
            </div>
        </section>
        <section>
            <h2>Попробуйте наши новинки!</h2>
            <div class="display">
                {% for i in new_products %}
                <div class="card_chocolate">
                    <img src="{{ i.image.url }}" alt="chocolate" style="width: 200px;" />
                    <p>{{ i.product_name }}</p>
                    <a href="{% url 'info_product' i.id %}">
                        <button>Подробнее</button>
                    </a>
                </div>
                {% endfor %}
            </div>
        </section>
        <section>
            <h2>Как мы работаем?</h2>
            <div class="div_page_4">
                <div>
                    <p class="p_num">01</p>
                    <p class="p_text">Получаем заказ</p>
                    <p>Получаем заказ и связываемся с Вами для уточнения деталей</p>
                </div>
                <div>
                    <p class="p_num">02</p>
                    <p class="p_text">Готовим заказ</p>
                    <p>Готовим заказ в строгом соответствии с пожеланиями клиента</p>
                </div>
                <div>
                    <p class="p_num">03</p>
                    <p class="p_text">Отправляем заказ</p>
                    <p>Отправляем Ваш заказ ранее утвержденным Вами способом</p>
                </div>
                <div>
                    <p class="p_num">04</p>
                    <p class="p_text">Доставка и оплата</p>
                    <p>Наш курьер доставит товар по Вашему адресу прямо в руки</p>
                </div>
            </div>
        </section>
        <section>
            <h2 id="all_products">Каталог вкусняшек</h2>
            <div class="category_chocolate">
                <div class="section_category_all" style="transform: scale(1.3); background-color: rgb(235, 222, 215)">
                    <img src="../../../media/img/chocolate_all.png" alt="img" class="img_category_all" />
                    <br />
                    <input type="submit" value="Все" name="category" id="all" style="color: rgb(156, 90, 54)" />
                </div>
                <div class="section_category_festive">
                    <img src="../../../media/img/chocolate_festive.webp" alt="img" class="img_category_festive" />
                    <br />
                    <input type="submit" value="Праздничные" name="category" id="festive" />
                </div>
                <div class="section_category_standard">
                    <img src="../../../media/img/chocolate_standard.png" alt="img" class="img_category_standard" />
                    <br />
                    <input type="submit" value="Стандартные" name="category" id="standard" />
                </div>
                <div class="section_category_animals">
                    <img src="../../../media/img/chocolate_animals.webp" alt="img" class="img_category_animals" />
                    <br />
                    <input type="submit" value="Животные" name="category" id="animals" />
                </div>
                <div class="section_category_items">
                    <img src="../../../media/img/chocolate_items.png" alt="img" class="img_category_items" />
                    <br />
                    <input type="submit" value="Предметы" name="category" id="items" />
                </div>
            </div>
            <div class="category_all">
                <div class="display">
                    {% for i in products %} {% if i.new == False %}
                    <div class="card_chocolate">
                        <img src="{{ i.image.url }}" alt="chocolate" style="width: 200px;" />
                        <p>{{ i.product_name }}</p>
                        <a href="{% url 'info_product' i.id %}">
                            <button>Подробнее</button>
                        </a>
                    </div>
                    {% endif %} {% endfor %}
                </div>
            </div>
            <div class="all_categories">{% include 'main/categories.html' %}</div>
        </section>
    </div>
    {% include 'main/footer.html' %}
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/buy.js' %}"></script>
</body>

</html>