<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="{% static 'css/all_pages.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/footer.css' %}"/>
</head>
<body>
<div class="content">
    <h2>Ваши личные данные</h2>
    <p>Фамилия: {{ user.lastname }}</p>
    <p>Имя: {{ user.name }}</p>
    <p>ID: {{ user.hard_id }}</p>
    <p>Эл. почта: {{ user.email }}</p>
    <p>Пароль: {{ user.password }}</p>
    <p>Дата регистрации: {{ user.date_registration }}</p>
    <a href="{% url 'favourites' user.hard_id %}">
        <button>Избранное</button>
    </a>
    <a href="{% url 'basket' user.hard_id %}">
        <button>Корзина</button>
    </a>
    <a href="{% url 'main_user' user.hard_id %}">
        <button>Вернуться на главную</button>
    </a>
</div>
<a href="{% url 'change_password' user.hard_id %}">Изменить пароль</a>
<a href="{% url 'account_delete' user.hard_id %}">Удалить аккаунт</a>
{% include 'main/footer.html' %}
</body>
</html>
