<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Корзина товаров</title>
    <link rel="stylesheet" href="{% static 'css/all_pages.css' %}" />
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
  </head>
  <body>
    <div class="content">
      <h2>Корзина товаров</h2>
      {% if basket|length == 0 %}
      <p>Здесь пока ничего нет</p>
      {% else %} {% for i in basket %} 
      {% for j in products %} 
      {% if j.product_name == i.product_name %}
      <img src="{{ j.image.url }}" alt="chocolate" style="height: 100px" />
      {% endif %} 
      {% endfor %}
      <p>{{ i.product_name }}</p>
      <a href="{% url 'info_product' i.id_product %}">
        <button>Подробнее</button>
      </a>
      <a
        href="{% url 'delete_basket' user_active i.id user_hard_id %}"
        id="a_delete_basket"
      >
        <button>Удалить из корзины</button>
      </a>
      <br />
      {% endfor %} 
      {% endif %}
      <br />
      <a href="{% url 'account' user_hard_id %}">
        <button>Личный кабинет</button>
      </a>
      <a href="{% url 'main_user' user_active user_hard_id %}">
        <button>Вернуться на главную</button>
      </a>
    </div>
    {% include 'main/footer.html' %}
  </body>
</html>
