<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Обновление пароля</title>
    <link rel="stylesheet" href="{% static 'css/all_pages.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/footer.css' %}"/>
</head>
<body>
<div class="content">
    <form method="post" action="{% url 'change_password_check' %}">
        {% csrf_token %}
        <label>Введите текущий пароль:</label>
        <input type="password" name="password_0">
        <br>
        <label>Введите новый пароль:</label>
        <input type="password" name="password_1">
        <br>
        <label>Повторите новый пароль:</label>
        <input type="password" name="password_2">
        <br>
        <button type="submit">Применить</button>
    </form>
    <a href="{% url 'account' %}">
        <button>Вернуться</button>
    </a>
</div>
{% include 'main/footer.html' %}
</body>
</html>