<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Обновление пароля</title>
    <link rel="stylesheet" href="{% static 'css/all.css' %}" />
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
</head>

<body>
    <div class="content">
        <form method="post" action="" id="form_password_change">
            {% csrf_token %}
            <input class="start_url" value="{{ start_url }}" style="width: 0; height: 0; opacity: 0; position: absolute"
                disabled />
            <input class="message" value="{{ message }}" style="width: 0; height: 0; opacity: 0; position: absolute"
                disabled />

            <label>Введите текущий пароль:</label>
            <input type="password" name="password_0">
            <br>
            <label>Введите новый пароль:</label>
            <input type="password" name="password_1">
            <br>
            <label>Повторите новый пароль:</label>
            <input type="password" name="password_2">
            <br>
            <button type="submit" id="but_password_change">Применить</button>
        </form>
        <p>{{ message }}</p>
        <a href="{% url 'account' %}">
            <button>Вернуться в Личный кабинет</button>
        </a>
    </div>
    {% include 'main/footer.html' %}
    <script src="{% static 'js/password_change.js' %}"></script>
</body>

</html>