<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Обновление пароля</title>
    <link href="../../../media/icons/icon_main.png" type="png" rel="Website Icon" />
    <link rel="stylesheet" href="{% static 'css/all.css' %}" />
    <link rel="stylesheet" href="{% static 'css/forms.css' %}" />
</head>

<body>
    <div class="content">
        <h2>Обновление пароля</h2>
        <a href="{% url 'main' %}#all_products" class="main_all_products_a">
            <span class="main_all_products_span">&#8617; </span> Вернуться в Каталог
        </a>
        <br>
        <a href="{% url 'account' %}" class="main_all_products_a">
            <span class="main_all_products_span">&#8617; </span> Вернуться в Личный кабинет
        </a>
        <form method="post" action="" id="form_password_change">
            {% csrf_token %}
            <input class="start_url" value="{{ start_url }}" style="width: 0; height: 0; opacity: 0; position: absolute"
                disabled />
            <input class="message" value="{{ message }}" style="width: 0; height: 0; opacity: 0; position: absolute"
                disabled />

            <label>Введите текущий пароль:</label>
            <input type="password" name="password_0">
            <br>
            <label>Введите новый пароль:</label>
            <input type="password" name="password_1">
            <br>
            <label>Повторите новый пароль:</label>
            <input type="password" name="password_2">
            <br>
            <button type="submit" id="but_password_change">Применить</button>
            {% if message == 'Ваш пароль был успешно изменен. Нажмите на кнопку "Применить" еще раз' %}
            <p style="color: rgba(8, 184, 66, 0.811);">{{ message }}</p>
            {% else %}
            <p style="color: rgb(214, 80, 97);">{{ message }}</p>
            {% endif %}
        </form>
    </div>
    <script src="{% static 'js/password_change.js' %}"></script>
</body>

</html>