<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Добавление отзыва</title>
    <link href="../../../media/icons/icon_main.png" type="png" rel="Website Icon" />
    <link rel="stylesheet" href="{% static 'css/all.css' %}" />
</head>

<body>
    <p>{{ message }}</p>
    <a href="{% url 'main' %}#all_products">
        <input type="button" value="Вернуться на Каталогу">
    </a>
    <a href="{% url 'info_product' id_product %}">
        <input type="button" value="Вернуться к товару">
    </a>
</body>

</html>