<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Создать свой шоколад</title>
    <link rel="stylesheet" href="{% static 'css/nav.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/footer.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/all_pages.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/buy.css' %}"/>
  </head>
  <body>
    <div class="content">
      {% include 'main/nav.html' %} {% include 'users/buy.html' %}
    <h2>Создай свою шоколадку!</h2>
    <p>*1 штука без пищевых добавок = 20₽</p>
    <form action="">
      <div>
        <h3>Внешний вид:</h3>
        <div>
          <input type="radio" id="square" name="chocolate" checked />
          <label for="square">Квадрат</label>
        </div>
        <div>
          <input type="radio" id="heart" name="chocolate" />
          <label for="heart">Сердце</label>
        </div>
        <div>
          <input type="radio" id="circle" name="chocolate" />
          <label for="circle">Круг</label>
        </div>
        <div>
          <input type="radio" id="triangle" name="chocolate" />
          <label for="triangle">Треугольник</label>
        </div>
      </div>
      <div>
        <h3>Основной вкус:</h3>
        <div>
          <input type="radio" id="milk" name="basic" checked />
          <label for="milk">Молочный</label>
        </div>
        <div>
          <input type="radio" id="white" name="basic" />
          <label for="white">Белый</label>
        </div>
        <div>
          <input type="radio" id="no_sugar" name="basic" />
          <label for="no_sugar">Без сахара</label>
        </div>
        <div>
          <input type="radio" id="bitter" name="basic" />
          <label for="bitter">Горький</label>
        </div>
      </div>
      <div>
        <h3>Пищевые добавки:</h3>
        <p>*1 пищевая добавка = 10₽</p>
        <div>
          <input type="checkbox" id="raspberry" name="additives" />
          <label for="raspberry">Малина</label>
        </div>
        <div>
          <input type="checkbox" id="pineapple" name="additives" />
          <label for="pineapple">Ананас</label>
        </div>
        <div>
          <input type="checkbox" id="strawberry" name="additives" />
          <label for="strawberry">Клубника</label>
        </div>
        <div>
          <input type="checkbox" id="nuts" name="additives" />
          <label for="nuts">Орехи</label>
        </div>
      </div>
      <div>
        <h3>Количество:</h3>
        <input id="res_count" type="number" min="1" max="20" value="1" name="count">
        <label>шт.</label>
      </div>
      <div>
        <button id="but_chocolate">Применить изменения</button>
        <h3>Цена: <span id="res_price">20₽</span></h3>
      </div>
      {% if user_hard_id == None or user_hard_id == "None" %}
      <p class="user_active_none">
        Уважаемый пользователь! Пожалуйста,
        <a href="{% url 'registration' %}">зарегистрируйтесь</a> или
        <a href="{% url 'login' %}">войдите</a>, чтобы можно было совершать покупки
      </p>
      {% else %}
      <button type="submit" id="but_basket">В корзину</button>
      {% endif %}
    </form>
    </div>
    {% include 'main/footer.html' %}
    <script src="{% static 'js/buy.js' %}"></script>
    <script src="{% static 'js/create.js' %}"></script>
  </body>
</html>
