<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Удаление товара из Избранного</title>
    <link href="../../../media/icons/icon_main.png" type="png" rel="Website Icon" />
    <link rel="stylesheet" href="{% static 'css/all.css' %}" />
</head>
<body>
<p>Товар был успешно удален из Ваших избранных товаров</p>
<a href="{% url 'main' %}">
    <input type="button" value="Вернуться на Главную">
</a>
<a href="{% url 'favourites' %}">
    <input type="button" value="Мои избранные товары">
</a>
</body>
</html>