<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Новый пароль</title>
    <link rel="stylesheet" href="{% static 'css/all.css' %}" />
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
</head>

<body>
    <div class="content">
        <form method="post" action="{% url 'new_password_check' %}">
            {% csrf_token %}
            <input class="start_url" value="{{ start_url }}" style="width: 0; height: 0; opacity: 0; position: absolute"
                disabled />
            <input class="message" value="{{ message }}" style="width: 0; height: 0; opacity: 0; position: absolute"
                disabled />

            <label>Введите эл. почту:</label>
            <input type="email" name="email">
            <br>
            <button type="submit">Получить сообщение на эл. почту</button>
        </form>
        <p>{{ message }}</p>
        <a href="{% url 'login' %}">
            <button>Вернуться</button>
        </a>
    </div>
    {% include 'main/footer.html' %}
</body>

</html>