<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Новый пароль</title>
    <link rel="stylesheet" href="{% static 'css/all_pages.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/footer.css' %}"/>
</head>
<body>
<div class="content">
    <form method="post" action="{% url 'new_password_check' %}">
        {% csrf_token %}
        <label>Введите эл. почту:</label>
        <input type="email" name="email">
        <br>
        <button type="submit">Получить сообщение на эл. почту</button>
    </form>
    <a href="{% url 'login' %}">
        <button>Вернуться</button>
    </a>
</div>
{% include 'main/footer.html' %}
</body>
</html>