<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Мои заказы</title>
    <link href="../../../media/icons/icon_main.png" type="png" rel="Website Icon" />
    <link rel="stylesheet" href="{% static 'css/all.css' %}" />
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'css/basket_favourites_orders.css' %}" />
</head>

<body>
    <div class="content">
        <h2>Мои заказы</h2>
        <a href="{% url 'main' %}#all_products" class="main_all_products_a">
            <span class="main_all_products_span">&#8617; </span> Вернуться в Каталог
        </a>
        <br>
        <a href="{% url 'account' %}" class="main_all_products_a">
            <span class="main_all_products_span">&#8617; </span> Вернуться в Личный кабинет
        </a>
        {% if user_orders|length == 0 %}
        <div style="text-align: center;">
            <p style="font-size: 20px; color:rgb(156, 90, 54);">Здесь пока ничего нет</p>
            <img style="height: 200px;" src="../../../../media/icons/icon_sad.png" alt="icon_sad">
        </div>
        {% else %}
        <br><br>
        <button class="but_info but_status_0">Все</button>
        <button class="but_info but_status_1">Активные</button>
        <button class="but_info but_status_2">Не активные</button>
        <div class="display status_0">
            {% for i in user_orders %}
            <div class="card_view">
                <p>{{ i.product_name }}</p>
                <p>Статус: {{ i.status }}</p>
                <p>Количество: {{ i.count }}</p>
                <p>Цена: {{ i.price }}</p>
                {% if i.product_name|slice:':14' != 'Особый шоколад' %}
                <a href="{% url 'info_product' i.id_product %}">
                    <button class="but_info">Подробнее</button>
                </a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% include 'users/orders_status.html' %}
        {% endif %}
    </div>
    {% include 'main/footer.html' %}
    <script src="{% static 'js/orders_status.js' %}"></script>
</body>

</html>