<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Мои заказы</title>
    <link href="../../../media/icons/icon_main.png" type="png" rel="Website Icon" />
    <link rel="stylesheet" href="{% static 'css/all.css' %}" />
    <link rel="stylesheet" href="{% static 'css/message.css' %}" />
</head>

<body>
    <div class="content">
        <h2>❤️ Спасибо! ❤️</h2>
        <h2>Ваш заказ принят! Скоро с Вами свяжемся</h2>
        <img style="height: 200px;" src="../../../../media/icons/icon_happy.png" alt="icon_happy">
        <br>
        <a href="{% url 'orders' %}">
            <button>Перейти к заказам</button>
        </a>
    </div>
</body>

</html>