<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'css/all_pages.css' %}" />
</head>
<body>
<h2>Регистрация</h2>
<form method="post" action="{% url 'registration_check' %}">
    {% csrf_token %}
    <label>Придумайте никнейм</label>
    <input type="text" name="name">
    <p>*Никнейм должен быть более 3 символов</p>
    <p>*Никнейм должен содержать латинские буквы</p>
    <br>
    <label>Введите эл. почту</label>
    <input type="email" name="email">
    <p>*Yandex, Google, Mail</p>
    <br>
    <label>Придумайте пароль</label>
    <input type="password" name="password">
    <p>*Пароль должен быть более 8 символов</p>
    <p>*Пароль должен содержать латинские буквы и цифры</p>
    <br>
    <button type="submit">Зарегистрироваться</button>
</form>
<a href="{% url 'main' %}">
    <button>Вернуться</button>
</a>
<p>Зарегистрируйтесь, чтобы можно было заказать</p>
</body>
</html>