<form method="post" id="form_feedback" action="{% url 'send_feedback' id_product %}">
  {% csrf_token %}
  <p>Поставьте оценку от 1 до 5</p>
  <label>Оценка:</label>
  <input type="number" value="0" name="score" style="width: 30px" min="1" max="5">
  <br>
  <label>Сообщение:</label>
  <br>
  <textarea name="message" style="width: 30%; height: 100px;"></textarea>
  <br>
  <label>Оставить отзыв анонимно:</label>
  <input type="checkbox" name="anonim">
  <br>
  <button id="but_feedback" type="submit">Отправить</button>
</form>