<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Новый пароль</title>
    <link rel="stylesheet" href="{% static 'css/all_pages.css' %}" />
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
</head>

<body>
    <div class="content">
        <form method="post" action="" id="form_password_update">
            {% csrf_token %}
            <input class="start_url" value="{{ start_url }}" style="width: 0; height: 0; opacity: 0; position: absolute"
                disabled />
            <input class="message" value="{{ message }}" style="width: 0; height: 0; opacity: 0; position: absolute"
                disabled />
            <input class="hard_id" value="{{ hard_id }}" style="width: 0; height: 0; opacity: 0; position: absolute"
                disabled />

            <label>Введите новый пароль:</label>
            <input type="password" name="password_1">
            <br>
            <label>Повторите новый пароль:</label>
            <input type="password" name="password_2">
            <br>
            <button type="submit" id="but_password_update">Применить</button>
        </form>
        <p>{{ message }}</p>
        <a href="{% url 'login' %}">
            <button>Вернуться</button>
        </a>
    </div>
    {% include 'main/footer.html' %}
    <script src="{% static 'js/password_update.js' %}"></script>
</body>

</html>