h2 {
    text-align: center;
}

#form_add_image>img,
#img_image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.content {
    margin: 50px;
}

#user_name_and_buttons {
    display: flex;
}

.name_and_image {
    display: flex;
    gap: 20px;
    margin-left: 10%;
    border: 1px solid rgba(235, 222, 215);
    padding: 30px;
    border-radius: 10px;
    width: max-content;
}

.div_image {
    display: flex;
    flex-direction: column;
}

.name_and_image>form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#label_image:hover {
    color: rgb(156, 90, 54);
    cursor: pointer;
}

button {
    border: 2px solid rgb(156, 90, 54);
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    color: rgb(156, 90, 54);
}

button:hover {
    background-color: rgb(156, 90, 54);
    color: white;
    filter: drop-shadow(1px 10px 5px rgba(0, 0, 0, 0.3));
}

button:active {
    filter: none;
}

.user_name {
    margin-top: 55px;
}

.user_name>p:nth-child(2) {
    font-size: 20px;
    color: rgb(156, 90, 54);
}

.but_bottom {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    justify-content: space-evenly;

}

.but_bottom button {
    font-size: 15px;
    padding: 15px;
}

.but_bottom>a {
    text-decoration: none;
}

#a_del_account {
    color: rgb(214, 80, 97);
    text-decoration: none;
}

#a_new_pass {
    text-decoration: none;
}

#a_del_account:active {
    color: rgb(55, 55, 55);
}

#a_del_account:hover,
#a_new_pass:hover {
    cursor: pointer;
    color: rgb(156, 90, 54);
}

#account_data {
    margin-left: 10%;
    border: 1px solid rgba(235, 222, 215);
    padding: 30px;
    border-radius: 10px;
    width: 75%;
}