#buy_products {
  position: fixed;
  margin-left: 70%;
  margin-right: 3%;
  margin-top: 7%;
  background-color: rgb(156, 90, 54);
  color: white;
  max-height: max-content;
  padding: 20px;
  border-radius: 20px;
  z-index: 1;
  box-shadow: 1px 1px 10px 15px rgba(0, 0, 0, 0.2);
}

#buy_products p,
#buy_products button {
  color: white;
}

#buy_products h2 {
  background-color: white;
  padding: 5px;
  max-width: max-content;
  border-radius: 10px;
}

#buy_products button {
  color: rgb(55, 55, 55);
  border-radius: 10px;
  border: none;
}

#buy_products button:hover {
  color: rgb(156, 90, 54);
}

#buy_products button:active {
  color: grey;
}
