#buy_products {
  position: fixed;
  margin-left: 60%;
  margin-right: -1%;
  margin-top: 5.5%;
  background-color: rgb(156, 90, 54);
  color: white;
  padding: 20px;
  z-index: 1;
}

#buy_products p,
#buy_products button {
  color: white;
}

#buy_products h3 {
  color: rgb(156, 90, 54);
  background-color: rgb(255, 255, 255);
  padding: 3px 5px;
  max-width: max-content;
  border-radius: 10px;
}

#buy_products .but_buy_basket {
  color: rgb(156, 90, 54);
  border-radius: 20px;
  border: 3px solid rgb(235, 222, 215);
}

#buy_products .but_buy_basket:hover {
  transform: scale(1.05);
}

#buy_products .but_buy_basket:active {
  color: grey;
  transform: scale(0.98);
}

#buy_products .but_del_basket {
  border: none;
  border-radius: 50px;
  transform: scale(0.5);
  color: rgb(156, 90, 54);
  font-size: 25px;
  padding: 0px 15px;
}
