.category_chocolate {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0 30px;
  margin: 0 0 100px 0;
}

.category_chocolate img {
  filter: drop-shadow(1px 10px 5px rgba(0, 0, 0, 0.5));
  height: 100px;
  width: 100px;
  padding: 20px;
}

.category_chocolate input {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.category_chocolate > div {
  padding: 0 20px;
  border-radius: 50%;
}

.category_chocolate > div:hover,
.category_chocolate input:hover {
  cursor: pointer;
}

.card_chocolate {
  width: max-content;
  margin: 30px;
  text-align: center;
  padding: 20px;
  border: 2px solid rgb(235, 222, 215);
  border-radius: 10px;
}

.card_chocolate img {
  filter: drop-shadow(1px 10px 5px rgba(0, 0, 0, 0.5));
}

.card_chocolate p {
  color: rgb(156, 90, 54);
}

.card_chocolate button {
  background-color: rgb(156, 90, 54);
  border: 2px solid rgb(156, 90, 54);
  border-radius: 50px;
  color: white;
  filter: drop-shadow(1px 10px 5px rgba(0, 0, 0, 0.3));
}

.card_chocolate button:hover {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(156, 90, 54);
  color: rgb(156, 90, 54);
}

.card_chocolate button:active {
  filter: none;
}

.category_festive,
.category_standard,
.category_animals,
.category_items {
  display: none;
}

.display {
  display: grid;
  justify-content: space-between;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(30%, 3fr));
}
