.category_chocolate {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0 30px;
  margin: 0 0 100px 0;
}

.category_chocolate img {
  filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.5));
  height: 100px;
  width: 100px;
  padding: 20px;
}

.category_chocolate input {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.category_chocolate > div {
  padding: 0 20px;
  border-radius: 50%;
}

.category_chocolate > div:hover,
.category_chocolate input:hover {
  cursor: pointer;
}

.card_chocolate {
  background-color: rgb(235, 222, 215);
  width: max-content;
  margin: 30px;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
}

.category_festive,
.category_standard,
.category_animals,
.category_items {
  display: none;
}

.display {
  display: grid;
  justify-content: space-between;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(30%, 3fr));
}
