#contacts {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    text-align: center;
}

#contacts>div {
    width: max-content;
    padding: 300px 300px;
    background-color: rgba(235, 222, 215);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: 2px solid rgb(156, 90, 54);
}

#contacts h2 {
    color: rgb(214, 80, 97);
    margin-top: -80px;
}

span {
    color: rgb(156, 90, 54);
}

#x {
    position: absolute;
    margin-top: 2%;
    margin-left: 95%;
    width: max-content;
    height: max-content;
}

#x:hover {
    color: rgb(214, 80, 97);
    cursor: pointer;
}