* {
  inset: 0;
  margin: 0;
  padding: 0;
}

.icon_main {
  height: 130px;
}

.hello_user {
  text-align: center;
}

.slogan {
  font-size: 30px;
}

section {
  margin-top: 100px;
}

.arrows {
  font-weight: bold;
}

.taste {
  color: rgb(214, 80, 97);
}
