svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.div_background {
  display: inline-block;
  position: absolute;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -1;
}

section {
  margin: 100px 50px 0 50px;
}

h2 {
  text-align: center;
  margin: 150px 0 50px 0;
}

/* header */

.icon_main {
  height: 64px;
}

header {
  padding: 0 50px;
}

.hello_user {
  text-align: center;
  margin: 30px 0 0 0;
  color: rgb(156, 90, 54);
}

.slogan {
  font-size: 30px;
}

.arrows {
  font-weight: bold;
}

.taste {
  color: rgb(214, 80, 97);
}

.but_choco {
  margin-right: 10px;
}

.but_create_choco,
.but_choco {
  border: 2px solid rgb(156, 90, 54);
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  color: rgb(156, 90, 54);
}

.but_create_choco:hover,
.but_choco:hover {
  background-color: rgb(156, 90, 54);
  color: white;
  filter: drop-shadow(1px 10px 5px rgba(0, 0, 0, 0.3));
}

.but_create_choco:active,
.but_choco:active {
  filter: none;
}

.icon_slogan_img {
  display: flex;
  justify-content: space-between;
}

.div_taste {
  text-align: center;
}

.div_images_taste {
  display: flex;
  gap: 50px;
}

.div_images_taste > div:nth-child(1) {
  margin-left: 50px;
}

.images_none {
  position: absolute;
  margin-left: 90%;
  margin-top: 5%;
}

.images_none_2 {
  opacity: 0;
}

.arrows {
  background-color: rgb(55, 55, 55);
  border: none;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.arrows:hover {
  background-color: grey;
  cursor: pointer;
}

.arrows:active {
  transform: scale(0.9);
}

.but_right {
  margin-right: 2px;
}

.but_left {
  margin-left: 2px;
}

.icon_main {
  vertical-align: middle;
  margin-left: 30px;
}

/* section "Почему у нас вкусно?" */

.div_page_2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.img_chocolate_with_strawberries {
  border: 5px solid rgb(235, 222, 215);
  height: 300px;
  border-radius: 50%;
  padding: 50px;
}

.icons_page_2 > img,
.icons_page_2 > span {
  vertical-align: middle;
}

.advantages > div:nth-child(2) {
  margin: 100px 50px;
}

.advantages_2 > div {
  text-align: end;
}

.advantages_2 > .icons_page_2 > img {
  margin-left: 20px;
}

.advantages_1 > .icons_page_2 > img {
  margin-right: 20px;
}

.advantages img {
  background-color: rgb(235, 222, 215);
  padding: 10px;
  border-radius: 20px;
}

/* section "Каталог вкусняшек" */

.category_chocolate {
  display: flex;
  justify-content: space-between;
}

.card_chocolate {
  background-color: aquamarine;
  width: max-content;
  margin: 30px;
  text-align: center;
}

.category_all,
.category_festive,
.category_standard,
.category_animals,
.category_items {
  display: none;
}

.display {
  display: grid;
  justify-content: space-between;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(30%, 3fr));
}

.not_category,
.not_category_arrows {
  text-align: center;
}

.not_category_arrows {
  font-weight: bold;
  font-size: 25px;
}
