#inp_feedback_image {
    opacity: 0;
    height: 0;
}

.div_feedback_image {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.div_feedback_image label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
    width: 150px;
    height: 150px;
    border: solid 1px rgb(156, 90, 54);
    border-radius: 5px;
    object-fit: cover;
}

.div_feedback_image img {
    height: 150px;
    border-radius: 5px;
    object-fit: cover;
}

#h2_send_feedback,
#feedbacks {
    background-color: rgba(235, 222, 215);
    border-radius: 10px;
    margin-bottom: 20px;
    padding-left: 50px;
}

#form_feedback {
    padding: 20px;
    border: 2px solid rgb(235, 222, 215);
    border-radius: 10px;
    width: max-content;
}